* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 50%
}

.grid {
  /* border: 1px solid black; */
  width: 360px;
}

.grid div {
  height: 100px;
  width: 100px;
  float: left;
  margin: 10px;
  border: 2px solid black;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

div .one {

}

div .two {

}

div .three {
}

div .four {
}

div .five {
}

div .six {
}

div .seven {
}

div .eight {
}

div .nine {
}
h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 50px;
  margin-left: 22px;
}
button {
  display: inline-block;
  margin-left: 115px;
  padding: 6px 12px;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 4px;

}
